<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/htmlHead') %>
	<title>Info Site</title>
</head>

<body>
	<%- include('../partials/header') %>
	<%- include('../partials/menu', {pageIdCode: 'welcome'}) %>
	<p style="margin-top: 2rem"><span class="danger">Sorry, you have requested a page that does not exist.</span></p>
</body>

</html>