<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/htmlHead') %>
	<title>Info Site</title>
</head>

<body>
	<%- include('../partials/header') %>
	<%- include('../partials/menu') %>
	<p>Welcome to this site.</p>
</body>

</html>