<nav>
	<a href="/" class="<%=pageIdCode === 'welcome' ? 'active' : ''%>">Welcome</a>
	<a href="books" class="<%=pageIdCode === 'books' ? 'active' : ''%>">Books</a>
	<a href="about" class="<%=pageIdCode === 'about' ? 'active' : ''%>">About</a>
</nav>